@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    background-color: rebeccapurple;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.pw-container {
    background-color: rgb(90, 26, 153);
    width: 400px;
}